* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;



}

.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;

}


.First {
    background-color: yellow;
}

.Second {
    background-color: orchid;

}

.Third {
    background-color: aqua;
}

.Fourth {
    background-color: red;
}

h1 {
    color: rgb(226, 226, 226);
    text-shadow: 1px 1px 4px black;
}