html {
    scroll-behavior: smooth;
}

#section1 {
    height: 100vh;
    background-color: pink;
}

#section2 {
    height: 100vh;
    background-color: yellow;
}

#section3 {
    height: 100vh;
    background-color: red;
}

#section4 {
    height: 100vh;
    background-color: aqua;
}








.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.p1 {
    position: relative;

    margin: 0;

}

.p2 {
    position: relative;
    ;
}